@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Original+Surfer&family=Philosopher:wght@400;700&display=swap');

@font-face {
  font-family: 'OndineRegular';
  src: url('./assets/fonts/OndineRegular.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  /* outline: 2px red solid; */
}

.ff_Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ff_Original_Surfer {
  font-family: 'Original Surfer';
}

.ff_Philosopher {
  font-family: 'Philosopher', sans-serif;
}

.ff_OndineRegular {
  font-family: 'OndineRegular';
}

:root {
  /* ==================== color  */
  --color-blue: #07031D;
  --color-blue-100: #15082F;
  ;
  --color-purple: #2F015B;
  --color-purpleGrident: linear-gradient(126.14deg, #AA1FFE 3.66%, #DD22E6 95.92%);
  --color-gray-grident: linear-gradient(0deg, #212121, #212121), linear-gradient(0deg, #565656, #565656);
  --color-gray: #565656;
  /* =================== fs */
  --text-xsm: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-xl2: 32px;
  --text-xl3: 35px;
  --text-xl4: 48px;
  --text-xl5: 80px;
  /* ========================= fw */
  --fw-bolder: 800;
  /* loading */
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --trans-dur: 0.3s;
}

/* ========================== fw */
.fw_bolder {
  font-weight: var(--fw-bolder);
}

.bg_blue {
  background-color: var(--color-blue);
}

.bg_blue100 {
  background-color: var(--color-blue-100);
}

.bg_purple {
  background-color: var(--color-purple);
}

.text_purpleGrident {
  background: var(--color-purpleGrident);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --text-fill-color: transparent;
}

.bg_purpleGrident {
  background: var(--color-purpleGrident);
}

.bg_gray {
  background-color: var(--color-gray);
}

.bg_grayGrident {
  background-color: var(--color-gray-grident);
}

/* ================================== fs */
.fs_xsm {
  font-size: var(--text-xsm);
}

.fs_sm {
  font-size: var(--text-sm);
}

.fs_md {
  font-size: var(--text-md);
}

.fs_lg {
  font-size: var(--text-lg);
}

.fs_xl {
  font-size: var(--text-xl);
}

.fs_xl2 {
  font-size: var(--text-xl2);
}

.fs_xl3 {
  font-size: var(--text-xl3);
}

.fs_xl4 {
  font-size: var(--text-xl4);
}

.fs_xl5 {
  font-size: var(--text-xl5);
}

/* ==================================== nav =============================== */
.h_8 {
  height: 8%;
}

.gift_size {
  height: 28.43px;
  width: 31.17px;
}

.line {
  height: 3px;
  width: 35px;
  background-color: white;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ms_n100 {
  margin-left: -100%;
}

.transform_translateHover:hover {
  transform: translateY(-7px);
}

.tranisition_02 {
  transition: 0.2s ease-in-out all;
}

/* ------------------------------------------------------------- */

.nav_open {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0%;
  left: 0%;
  background: rgba(22, 15, 47, 0.5);
  border: 1px solid #3a1063;
  backdrop-filter: blur(12px);
  transition: all 0.3s linear;
}

.z_index_100 {
  z-index: 100;
}

.bg_black {
  background-color: #AA1FFE;
}

.text_strokeWhite:hover {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: white;
}

.input_nav {
  border: 1.5px solid #565656;
  border-radius: 16px;
  background: linear-gradient(0deg, #212121, #212121),
    linear-gradient(0deg, #565656, #565656);
}

input:focus {
  outline: transparent !important;
}

textarea:focus {
  outline: transparent !important;
}

.placeholderColor::placeholder {
  color: rgba(255, 255, 255, 0.842) !important;
  font-size: var(--text-xsm);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.search_btn_width {
  width: 12.16px;
  height: 12.16px;
}

.position_search_btn {
  top: 35%;
  right: 6%;
}

.pe_30 {
  padding-right: 30px;
}

.border_radius40 {
  border-radius: 40px;
}

.p_nav_signIn {
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 15px;
  padding-bottom: 12px;
}

/* ============ hero */
.hero_bg {
  background-image: url("./assets/img/webp/hero_bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.h_700 {
  height: 250px;
}

.end_n30 {
  right: 0%;
}

.z_index_n1 {
  z-index: 1;
}

.z_index_2 {
  z-index: 2;
}

.border_radiusGif {
  border-radius: 0px 0px 0px 350px;
}

.heroPandaShadow {
  background: linear-gradient(180deg, #07031D 37.24%, rgba(7, 3, 29, 0.01) 88.23%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 195px;
  width: 100%;
  z-index: 2;
}

.positon_shadow {
  bottom: -10px;
  right: 0;
}

.z_index_3 {
  z-index: 3;
}

.hoverBtn {
  transition: 0.2s ease-in-out all;
}

.hoverBtn:hover {
  box-shadow: 0px 2px 15px #b143f6;
}

/* ============products */
.w_164 {
  width: 164px;
}

.productsHover img:hover {
  outline: 2px solid #AA1FFE;
  border-radius: 50%;
}

/* =====================aboutus */
.aboutUsBG {
  background-image: url('./assets/img/webp/about_us_bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_filter {
  background: rgba(22, 15, 47, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 10px;
}

.border_left ::after {
  content: '';
  position: absolute;
  left: 0;
  top: 5%;
  height: 90%;
  width: 4px;
  background-color: #BA20F7;
}

.d_grid {
  display: grid;
  column-gap: 13.13px;
  row-gap: 13.13px;
}

.grid_iteam1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid_iteam2 {
  grid-column: 1/3;
  grid-row: 2/5;
}

.grid_iteam3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.grid_iteam4 {
  grid-column: 2/3;
  grid-row: 4/6;
}

.grid_iteam5 {
  grid-column: 3/4;
  grid-row: 3/5;
}

.border_radius10 {
  border-radius: 10px;
  border-top: 1px solid #401A68;
  border-bottom: 1px solid #401A68;
}

/* =============== Base on */
.pink_dots {
  background: linear-gradient(126.14deg, #AA1FFE 3.66%, #DD22E6 95.92%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}



/* ============================ ourRangeBG */
.ourRangeBG {
  background-image: url('./assets/img/webp/ourRange.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_bseOn {
  background: rgba(22, 15, 47, 0.5);
  border: 1.5px solid #411A68;
  backdrop-filter: blur(9px);
  border-radius: 10px;
}

.bg_bseOn:hover {
  outline: 2px solid #411A68;
}

.rightLeave {
  top: 15%;
  right: -5%;
}

/* =================== price */
.price_bg {
  background: rgba(22, 15, 47, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 10px;
}

.transform_scale {
  transform: scale(1.07) translateY(-13px);
}

.outlinePurrple:hover {
  outline: 2px solid #411A68;
}

.bgMushroomShadow {
  background-color: #9F00FF;
  filter: blur(121.976px);
  width: 20%;
  bottom: 0;
  right: 45%;
  height: 330px;
  opacity: 0;
  transition: 0.1s ease-in-out all;
}

.hover_mushroom:hover .bgMushroomShadow {
  opacity: 1;
}

/* =========== productsDetials */
.w_50 {
  width: 50px;
}

.purpleBottleShadow {
  background: #9F00FF;
  filter: blur(121.976px);
  width: 40%;
  bottom: 20%;
  left: 30%;
  z-index: 2;
  height: 200px;
  opacity: 0;
  transition: 0.2s ease-in-out all;
}

.hoverShadowOpicity:hover .purpleBottleShadow {
  opacity: 1;
}

.tranisition_02 {
  transition: 0.2s ease-in-out all;
}

/* ==============canadaMail */
.bg_canadaMail {
  background-image: url('./assets/img/webp/canadaMailOrder.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgCardsCanadaMail {
  background: rgba(22, 15, 47, 0.5);
  border: 1.16879px solid #411A68;
  backdrop-filter: blur(6.5px);
  border-radius: 28.051px;
}

.circles_canadaMail {
  height: 115.26480102539062px;
  width: 114.94900512695312px;
  filter: drop-shadow(0px 6.03173px 22.619px rgba(201, 177, 255, 0.35));
  border-radius: 50%;
  background-color: white;
  color: #A020F0;
  top: -20%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s ease-in-out all;
}

.cardHover:hover .circles_canadaMail {
  box-shadow: 0px 0px 20px 10px #15082F;
  ;
}

/* spaceship */
.starBg {
  background-image: url('./assets/img/webp/spaceShip.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacecannabis_position {
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}

.w_countDown {
  width: 10%;
}

.p_countDown {
  left: 50%;
  top: 53%;
  transform: translateX(-50%);
}

.p_space_cloude1 {
  height: 67.41551971435547px;
  width: 141.01988220214844px;
}

.p_space_cloude2 {
  height: 63.10625076293945px;
  width: 132.0506134033203px;
}

.p_space_cloude3 {
  height: 51.14060592651367px;
  width: 107.00872802734375px;
}

.p_space_cloude4 {
  height: 63.10625076293945px;
  width: 132.0506134033203px;
}

.position_space_cloude1 {
  top: 10%;
  left: 25%;
  z-index: 1;
}

.position_space_cloude2 {
  top: 30%;
  left: 10%;
  z-index: 1;
}

.position_space_cloude3 {
  top: 10%;
  right: 30%;
  z-index: 1;
}

.position_space_cloude4 {
  top: 45%;
  right: 10%;
  z-index: 1;
}

/* OurClassifications */
.OurClassifications_bg {
  background-image: url('./assets/img/webp/OurClassifications_bg.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.OurClassifications_card_bg {
  background: rgba(22, 15, 47, 0.5);
  border: 1px solid #411A68;
  backdrop-filter: blur(9px);
  border-radius: 10px;
}

.w_20 {
  width: 20px;
}

/* MostPopularItems */
.MostPopularItems_bg {
  background-image: url('./assets/img/webp/mostPopularItems.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======most popular items */
.popularItems_bg {
  background: rgba(22, 15, 47, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  transition: 0.2s ease-in-out all;
}

.popularItems_bg:hover {
  outline: 1.5px solid #6d22b4;
}

.p_addTOCart {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 12px;
}

/* ==========panda */

.outlinePanda:hover .imgPanda {
  outline: 2px solid #A020F0;
  border-radius: 10px;
}

/* =========LatestBlogsAndNews */
.LatestBlogsAndNews_bg {
  background-image: url('./assets/img/webp/LatestBlogsAndNews_bg.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* time */
.borderBottom {
  border-bottom: 1px solid #DD22E696;
}

/* footer */
.footer_bg {
  background-image: url('./assets/img/webp/footer.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.w_footerLogo {
  width: 196.38px;
  height: 148px;
}

.footer_line {
  width: 100%;
  height: 1px;
  background: linear-gradient(126.14deg, #6900A8 3.66%, #98019F 95.92%);
}

.footerBtn:hover {
  color: #ffffff;
}

.footerBtn::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
}

.footerBtn:hover::after {
  content: "";
  width: 100%;
  transition: 0.4s;
  transform: translateX(-50%);
}


/* ================== contact */
.Contact_bg {
  background-image: url('./assets/img/webp/contect_bg.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_input {
  background: rgba(22, 15, 47, 0.5);
  border: 1px solid #411A68;
  backdrop-filter: blur(9px);
  border-radius: 4px;
  color: white !important;
}

.position_gif {
  left: -2%;
  z-index: 1;
  top: 9%;
  width: 35%;
}

/* ==================================== */
@media (max-width:576px) {
  .rightLeave {
    right: 0% !important;
  }

  :root {
    --text-xsm: 12px;
    --text-sm: 12px;
    --text-md: 12px;
    --text-lg: 12px;
    --text-xl: 20px;
    --text-xl2: 25px;
    --text-xl3: 33px;
    --text-xl4: 31px;
    --text-xl5: 44px;
  }

  .w_countDown {
    width: 15%;
  }

  .mb_n20 {
    margin-top: -27%;
  }
}

@media (min-width:576px) {
  :root {
    --text-xsm: 12px;
    --text-sm: 13px;
    --text-md: 15px;
    --text-lg: 16px;
    --text-xl: 19px;
    --text-xl2: 25px;
    --text-xl3: 33px;
    --text-xl4: 38px;
    --text-xl5: 55px;
  }

  .w_countDown {
    width: 14%;
  }

  .mb_n20 {
    margin-top: -15%;
  }
}

@media (max-width:768px) {
  .grid_iteam2 {
    grid-column: 1/3;
    grid-row: 2/4 !important;
  }
}

@media (min-width:768px) {
  :root {
    --text-xsm: 12px;
    --text-sm: 13px;
    --text-md: 16px;
    --text-lg: 16px;
    --text-xl: 23px;
    --text-xl2: 27px;
    --text-xl3: 33px;
    --text-xl4: 42px;
    --text-xl5: 65px;
  }


  .w_countDown {
    width: 8%;
  }

  .mb_n20 {
    margin-top: -12%;
  }
}

@media (min-width:992px) {


  .mb_n20 {
    margin-top: -10%;
  }
}

@media (max-width:1200px) {


  .min_vh_max_xl {
    min-height: 100vh;
  }
}

@media (min-width:1200px) {
  .nav_open {
    all: unset;
  }

  :root {
    --text-xsm: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 24px;
    --text-xl2: 30px;
    --text-xl3: 34px;
    --text-xl4: 45px;
    --text-xl5: 75px;
  }

  .mb_n20 {
    margin-top: -9%;
  }
}

@media (min-width:1400) {
  :root {
    --text-xsm: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-xl2: 32px;
    --text-xl3: 35px;
    --text-xl4: 48px;
    --text-xl5: 80px;
  }

}

/* ======================= animation */

.animation_cloudes {
  animation: clouds 6s linear infinite alternate-reverse;
}

@keyframes clouds {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(100%);
  }
}

.color_back_to_top {
  background: linear-gradient(126.14deg, #AA1FFE 3.66%, #DD22E6 95.92%);
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
}

.loding_position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.pl {
  display: block;
  width: 8em;
  height: 8em;
}

.pl__ring,
.pl__ball1,
.pl__ball2 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 32px 32px;
}

.pl__ring {
  animation-name: ring;
}

.pl__ball1 {
  animation-name: ball1;
}

.pl__ball2 {
  animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(135deg);
  }

  15% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -122.52;
    transform: rotate(90deg);
  }

  35% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -65.34;
    transform: rotate(297.5deg);
  }

  55% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(505deg);
  }

  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(490deg);
  }

  85%,
  to {
    stroke-dashoffset: -122.52;
    transform: rotate(497.5deg);
  }
}

@keyframes ball1 {
  from {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-7deg);
  }

  60% {
    transform: rotate(399deg);
  }

  75% {
    transform: rotate(361deg);
  }

  90%,
  to {
    transform: rotate(374deg);
  }
}

@keyframes ball2 {
  from {
    transform: rotate(-21deg);
  }

  25% {
    transform: rotate(-47deg);
  }

  60% {
    transform: rotate(364deg);
  }

  75% {
    transform: rotate(326deg);
  }

  90%,
  to {
    transform: rotate(339deg);
  }
}

.overflow_hidden_preloder {
  overflow: hidden;
  position: relative;
}

.nav_lineAnimation :nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.nav_lineAnimation :nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.nav_lineAnimation :nth-child(2) {
  opacity: 0;
}

/*
#hamburger-1.is-active .line:nth-child(1) {}

#hamburger-1.is-active .line:nth-child(3) {} */
.position_crossNav {
  top: 90px;
  right: 10px;
}